* { 
  : 2px solid red;
}
    /* this line above its there to outline my work ... and its 
    the error marked as "style.css 3,M" in red lettering on the 
    vscode explorer*/

.titulo {
    text-align: center;
    color: black;
    background-color: #fff0b3;
    border-bottom: 1px dotted black;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    margin-right: 10%;
}
div {
    display: flex;
}
.texto-lateral1, .texto-lateral2 {
    display: flex;
    width: 300px;
    padding: 10px;
}
.foto-comida {
    display: flex;
    padding-top: 30px;
    width: 500px;
    height: 400px;
}